{% if site.curriculum == "dc-ecology" %}
{% if site.flavor == "r" %}

<h3 id="download-install-r">Install R and R Studio</h3>

<p>
Prior to the workshop, install R and R studio. R Studio is an integrated development environment (IDE) which uses R 'under the hood', these are two
  seperate installs and are requied to participate. If you do NOT have a 63-bit operating system, 
  please download this <a href="https://www.rstudio.com/products/rstudio/older-versions/"> older version of R</a>. On the R website, click the link 
  describing your operating system (Mac or Windows). Mac users: click the link describing the version of operating system you use (OS-11).
</p>

<p class="text-center">
  <a href="https://cran.rstudio.com/">
    <button type="button" class="btn btn-info">Install R</button>
  </a>
</p>
<p class="text-center">
  <a href="https://posit.co/download/rstudio-desktop/#download">
    <button type="button" class="btn btn-info">Install R Studio</button>
  </a>
</p>
<hr/>


<p>
  The setup instructions for the Data Carpentry Ecology workshops (with R)
  can be found at <a href="https://datacarpentry.org/ecology-workshop/setup-r-workshop.html">
    the workshop overview site</a>.
</p>

{% else %}
{% include warning-curriculum.html %}
{% endif %}


{% else %}
{% include warning-curriculum.html %}
{% endif %}
